# File itself
.git
.gitignore
.gcloudignore

# Dependency directories
node_modules/

# Random file that Git puts in here for some reason
%1

# Local testing files
local_testing.js
.env

# Only going to edit on remote
README.md
